<div class="container mt-4">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto"><app-go-back-button></app-go-back-button>
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <h2 class="text-center fw-bold text-primary">Crear un nuevo usuario</h2>
        </div>
        <br>
        <div class="row">
            <div class="col text-center">
                <p>Trabajando en ello...</p>
            </div>
        </div>
    </div>
</div>